@model TeamListViewModel
@{
    ViewData["Title"] = "Favorites";
    //Page 358 Step 12: See the declaration of the variable "session"
    //on page 341 (in the second if statement)
    var session = new NFLSession(Context.Session);   // get session
}

<div class="text-center">
    <!--Page 358 Step 13:-->
    <h2>@(session.GetName() == null ? "My" : session.GetName() + "'s") Favorites</h2>
    <form asp-action="Delete" method="post">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary"
           asp-route-activeConf="@Model.ActiveConf"
           asp-route-activeDiv="@Model.ActiveDiv">
            Back to Home Page
        </a>
        <!--Page 358 Step 11: add code from text-->
        <a asp-action="Index" asp-controller="Name" class="btn btn-primary">
            Change Name
        </a>
        <button type="submit" class="btn btn-primary">
            Clear Favorites
        </button>
    </form>
    <br />
</div>


<div class="row">
    <div class="col-8 offset-2">
        <ul class="list-group">
            @foreach (Team team in Model.Teams)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="~/images/@team.LogoImage" alt="" />
                        </div>
                        <div class="col-sm-4">
                            @team.Name
                        </div>
                        <div class="col-sm-4">
                            @team.Conference.Name @team.Division.Name
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>